.designer-container {
  background-color: #f6f6f6;
  margin: 0 auto;
  max-width: 800px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.designer-container + .designer-container {
  margin-top: 3rem;
}

.designer-container img {
  width: 100%;
}
.designer-container span {
  font-style: italic;
}
.designer-container h4 {
  margin-bottom: 0;
}
.designer-container h2 {
  font-weight: bold;
}
.designer-container .img {
  width: 40%;
}
.designer-body {
  width: 60%;
  line-height: 1.8;
}
.designer-body h2 {
  margin: 0;
}

/* My Code */
.custom-page-designers-link {
  text-decoration: none;
  color: rgba(var(--color-foreground), 0.75);
  display: flex;
  padding: 3rem;
  column-gap: 2rem;
}

.designer-container:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 2px 7px 15px;
  transform: scale(1.025);
}

@media screen and (max-width: 989px) {
  .custom-page-designers-link {
    flex-direction: column;
  }

  .designer-container .img {
    width: auto;
  }
  .designer-body {
    width: auto;
  }
}
